<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <span>
      <ion-img src="assets/icon/lock_key.png" class="lock_key-img"></ion-img>
      <ion-title class="title-text">Login</ion-title>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-wrapper">
    <div class="logo-wrapper">
      <ion-img src="assets/icon/house.png" class="house-img"></ion-img>
      <h1>myFamily</h1>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate class="login-form">
      <div class="form-container">
        <ion-item class="input-item">
          <ion-input type="email" name="email" placeholder="Email" required [(ngModel)]="email"
            #emailInput="ngModel"></ion-input>
        </ion-item>
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-message">
          <ion-text color="danger">Valid email is required.</ion-text>
        </div>

        <ion-item class="input-item">
          <ion-input type="password" name="password" placeholder="Contraseña" required minlength="6"
            [(ngModel)]="password" #passwordInput="ngModel"></ion-input>
        </ion-item>
        <div *ngIf="
          passwordInput.invalid &&
          (passwordInput.dirty || passwordInput.touched)
        " class="error-message">
          <ion-text color="danger">Password is required (min 6 chars).</ion-text>
        </div>

        <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="submit-button">Iniciar
          Sesión</ion-button>
      </div>
    </form>
    <div class="login-register-link">
      <span>¿No tienes cuenta?</span>
      <a routerLink="/register" class="register-link">Registrarse</a>
    </div>
  </div>
</ion-content>