# Ignore node_modules
node_modules

# Ignore build artifacts
dist
build

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore IDE settings
.idea
.vscode

# Ignore Docker-related files
docker-compose.override.yml
Dockerfile*

# Ignore temporary files
*.tmp
*.swp
*.swo
*.bak
*.backup

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore frontend build outputs
frontend/myfamily/www
frontend/myfamily/dist

# Ignore backend build outputs
backend/myfamily/target
backend/myfamily/db-init/*.sh~