[build]
  base = "frontend/myfamily"
  command = "npm ci && npm run build"
  publish = "www"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
