@use './theme/variables' as theme;

body, ion-app, in-content {
	background: theme.$color-surface !important;
	color: theme.$color-text-primary;
}
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

/* Force full height globally for ion-content */
ion-content {
  height: 100vh !important; /* Ensure consistent layout across all pages */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Align content properly */
}

/* Centered modal at 50vh */
.add-item-modal-centered {
  --width: 100%;
  --border-radius: 20px 20px 0 0;
  --box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.1);
}

/* Modals should not inherit the global 100vh ion-content height */
ion-modal.add-item-modal-centered ion-content {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

/*
 * Safe-area utilities (opt-in)
 * Use these on containers that sit at the bottom of the screen
 * (e.g. action button stacks) so they don't get hidden behind
 * the iOS home indicator.
 */
.safe-area-bottom-padding {
  padding-bottom: calc(env(safe-area-inset-bottom, 0px) + theme.$spacing-lg) !important;
}

.safe-area-bottom-margin {
  margin-bottom: env(safe-area-inset-bottom, 0px) !important;
}
