<div class="event-card" #eventCard [style.--slide-distance.px]="slideDistance">
  <div class="delete-indicator" [class.swipe-active]="isSliding">
    <div class="delete-content">
      <ion-icon name="trash-outline" class="delete-icon"></ion-icon>
      <span class="delete-text">Delete</span>
    </div>
  </div>

  <div class="card-content">
    <div class="event-info">
      <h4 class="event-name">{{ event.eventName }}</h4>
      <p class="event-description">{{ event.eventDescription }}</p>
    </div>
    <!-- <span class="badge category-badge" [style.background]="getCategoryColor()">{{ getCategoryName()
      }}</span> -->
    <p class="event-date">
      {{ event.eventDate | date: 'd MMM' }}
    </p>
  </div>
</div>