@use '../../../../theme/variables' as theme;

.header-toolbar {
  background: theme.$color-primary-gradient;
  --background: #{theme.$color-primary-gradient};
}

.title-text {
  display: inline-flex;
  align-items: center;
  gap: theme.$spacing-sm;
  font-weight: 600;
  font-size: theme.$font-size-lg;
  color: theme.$color-text-light;
}

.header-icon {
  font-size: theme.$font-size-xl;
  color: theme.$color-text-light;
}
