<ion-card class="family-card">
  <div class="family-image-container" *ngIf="familyIcon">
    <img [src]="familyIcon" [alt]="family.familyName + ' icon'" class="family-image" />
  </div>
  <div class="family-image-placeholder" *ngIf="!familyIcon">
    <ion-icon name="people"></ion-icon>
  </div>
  <ion-card-header>
    <ion-card-title>{{ family.familyName }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>{{ family.familyMembers.length }} miembros</p>
  </ion-card-content>
  <div class="card-actions">
    <ion-button fill="clear" class="view-button" (click)="onViewClick()">Ver</ion-button>
    <ion-button fill="clear" color="danger" class="leave-button" (click)="onLeaveClick($event)" type="button">
      <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </div>
</ion-card>